<div class="page" ng-controller="cardprintCtrl">
    <form class="form-horizontal formFadeIn" role="form" name="cardprintForm" novalidate >
      <section class="panel panel-default">
          <div class="panel-heading input-sm">
              <strong><span class="glyphicon glyphicon-th input-sm"></span>
                  CardPrint Creation</strong>
          </div>
          <div class="panel-body">
                
              <div class="form-group" >
                  <label for="cardNumber" class="col-sm-2 control-label input-sm">Card Number</label>

                  <div class="col-sm-10">
                      <input type="text" class="form-control input-sm" id="cardNumber" 
                             placeholder="card Number" ng-model="cardNumber" maxlength="25" required >

                  </div>
              </div>                 
            
               
            <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="button" class="btn btn-success input-sm" ng-disabled="cardprintForm.$invalid"
                              style="width: 100px" ng-click="printCard()" >
                          <span class="glyphicon glyphicon-ok"> Validate</span>
                      </button>
                     
                  </div>
              </div>
          </div>
      </section>
  </form>
   <!-- <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="button" class="btn btn-success input-sm"
                              style="width: 100px" ng-click="printCard()" >
                          <span class="glyphicon glyphicon-ok"> Print</span>
                      </button>
                      <button type="button" class="btn btn-warning input-sm"
                              style="width: 100px" ng-click="cancelJob()">
                          <span class="glyphicon glyphicon-remove"> Cancel</span>
                      </button>
                  </div>
              </div> -->

<!--     <object type="application/x-java-applet" width="0" height="0"
          id="printId" name="printId">
      <param name="code" value="com.compulynx.iprint.PrintCardTransactions"/>
      <param name="archive" value="applet/IMiPrint-0.0.4-SNAPSHOT.jar"/>
      <param name="java_version" value="1.5+">
  </object> -->

  </div>